body {
    overflow-x: hidden;
}

.slide1 {
    background-image: url("/home/jay/Documents/moringa-school-projects/IP3-master/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: white;
}
span {
    font-size: 10px;
}
.about {
    text-align: center;
}
.slide3 {
    background-image: url("/home/jay/Documents/moringa-school-projects/IP3-master/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    height: 50vh;

}
.container {
    text-align: center;
}
.important {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.slide4 {
    background-image: url("/home/jay/Documents/moringa-school-projects/IP3-master/assets/backgrounds/c_image.jpg");
    text-align: center;
    color: white;
    height: 100vh;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hide {
    display: none;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.card:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}